$AlmostWhite: hsl(0, 0%, 98%);
$MediumGray: hsl(0, 0%, 41%);
$AlmostBlack: hsl(0, 0%, 8%);


*{
    font-family: 'Epilogue', sans-serif;
    margin: 0;
    padding: 0;
    
} 

.content{
    max-width: 1440px;
    height: 90vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns:100px 1fr 1fr auto;
    grid-template-rows:100px 1fr 1fr;
   padding-top: 30px;

}
.sidebar{
    display: none;
}
//logog and register btns
.logo{
   grid-row: 1/2;
   margin-top: 8px;
}
.Register{   
    align-self: baseline;
    padding: 10px;
    background: transparent;
    border: 2px solid $MediumGray;
    border-radius: 10px;
    margin-left: 30px;
    color: $MediumGray;
    cursor: pointer;
}
.Register:hover{
    color: $AlmostBlack;
    border: 2px solid $AlmostBlack;
    
}
//nav ,title, main img container box
.insidewrapper{ 
    margin:8px 30px;
}

// navication bar styling 
nav{
    grid-row: 1/2;
    grid-column: 2/4;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
    .main-nav li{
        display: inline-block;
        list-style: none;
        margin-right: 30px;
    }
    a{  
        text-decoration: none;
        color: $MediumGray;
    }
    a:hover{
        color: $AlmostBlack;

    }
    .features-container{
        
        position: relative;
    }
    .div{
        display: none;
        height: 230px;
        
    }
    // styling scroling items
    .features{
       display: none;
        position: absolute;
        right: -10px;
        top: 40px;
        background: $AlmostWhite;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0px 10px 30px $MediumGray;
        z-index: 2;
    li{
       display: flex;
       padding-top: 15px;
        
    }
    a,img{
        padding-left: 10px;
        padding-bottom: 10px;
    }
    


    }//fetures tag end
    .features-container:hover .div{
        // background: red;
        display: block;
    }

    .features-container:hover .features{
        // background: red;
        display: block;
    }
  .features li :hover.features{
        // background: red;
        display: block;
  
    }
    
    .company{
        display: none;
        position: absolute;
        top: 70px;
        background: $AlmostWhite;
        padding: 20px 10px;
        border-radius: 15px;
        box-shadow: 0px 10px 30px $MediumGray;
        
    li{
        display: block;
       margin-top: 15px;
        
            
    } 
    a{
        margin-left: 20px;
        
    }
    
    }//company tag end
    .div2{
        
        height: 30px;
    }
    .company-container:hover .company{
        display: block;
    } 
    .company li :hover.company{
        // background: red;
        display: block;
  
    }
   
}
// navication bar styling End

//main title ,image logo styling
.main-img {
    grid-column: 3/4;
    grid-row: 2/5;
    
    align-self: center;
    justify-self: flex-end;
    img{
        max-width: 400px;
    }
 }
section{
    z-index: -1;
    grid-row: 2/5;
    grid-column: 2/3;
    display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   align-items: center;
    .hero-text{
        width: 400px;
     
    }
    h1{
     font-size: 60px;
     font-weight: bolder;
     color: $AlmostBlack;
    }
    p{
        color: $MediumGray;
        margin: 30px 0;
    }
    button{
        padding: 10px;
        background: $AlmostBlack;
        border-radius: 10px;
        color: $AlmostWhite;
        font-weight: 700;
    }
    button:hover{
        background: transparent;
    border: 2px sold $AlmostBlack;
    color: $AlmostBlack;
    }
    .logos{
        position: absolute;
       bottom: 90px;
    }
    

}
.toggle{
    display: none;
}
@media screen and (max-width:1550px){
    .content{
        padding-left: 5%;
        padding-right: 5%;
 
     }
     
}
@media screen and(max-width:1140px){
   
   
    .main-img img{
        max-width: 300px;
       }
    section .hero-text{
    width: 300px;
    h1{
        font-size: 40px;
    }
   }
}
@media screen and (max-width:900px){
    .content{
        padding-top: 30px;
     align-items: baseline;
     
     }
     
     .toggle{
         display: block;
         grid-column: 4/5;
         grid-row: 1/2;
         background: transparent;
         border: none;
         
     }
  
    .main-img{
    
     grid-column:1/4;
     grid-row: 2/3;
     justify-self: center;
     
     img{
        width: 500px;
     }
    }
    section{
     margin-top: 30px;
     grid-column:1/4;
     grid-row:3/5 ;
     justify-self: center;
     .hero-text{
         position: relative;
         
     }
     .logos{
         position: relative;
         bottom: 0;
        
     }
     .logos img{
         width: 70px;
     }
     p{
         margin: 10px 0;
     }
 }
 
 .Register{
    cursor: pointer;
     display: none;
 }
 .attribution{
     padding-top: 30px;
 }
.main-nav,.login{
    display: none;
}





// side bar 
.sidebar{
height: 100%;
display: none;
flex-direction: column;
position: absolute;
background: white;
right: 0;
width: 300px;



}
.showsidebar{
    display: flex;
    
}
.mobile_nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.close{
    align-self:flex-end;
    margin-right: 20px;
   
}
.mobile-login{
    margin: 40px 0;
}

nav ul li{
    list-style: none;
}
.mobile-main-nav li{
    margin-top: 40px;
    margin-left: 20px;

}
.mobile-features li{
    
    margin-left: 40px;
}
.mobile-company li{
    margin-left: 40px;

}

.mobile-register{
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 10px;
    background: transparent;
    border: 2px solid $MediumGray;
    color: $MediumGray;
}
.mobile-register:hover{
    cursor: pointer;
  color: $AlmostBlack;
    border: 2px solid $AlmostBlack;
}

.mobile-features{
    display: none;
}
.mobile-company{
    display: none;
}

.show{
    display: block;
}

// .mobile-features-container:hover .mobile-features{
//     // background: red;
//     display: block;
// }

// .mobile-features-container:hover .features{
//     // background: red;
//     display: block;
// }
// .mobile-features li :hover.features{
//     // background: red;
//     display: block;

// }

// .mobile-company-container:hover .mobile-company{
//     // background: red;
//     display: block;
// }

// .mobile-company-container:hover .company{
//     // background: red;
//     display: block;
// }
// .mobile-company li :hover.company{
//     // background: red;
//     display: block;

// }




}
